src/test/resources/slack-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:slack="http://www.mulesoft.org/schema/mule/slack" xmlns:beans="http://www.springframework.org/schema/context"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/slack http://www.mulesoft.org/schema/mule/slack/current/mule-slack.xsd">

    <beans:property-placeholder  location="classpath:mule-app.properties" />

    <slack:token token="${slack.token}"  name="token-config">
        <slack:cached-connection disableValidation="true" someValue="hola ">
        </slack:cached-connection>
    </slack:token>

    <flow name="dummy">
        <slack:send-message config-ref="token-config" asUser="#[false]" channelId="${slack.channelId}" iconUrl="#[null]" message="Hey!" username="#[null]"/>
        <slack:send-message config-ref="token-config" asUser="#[false]" channelId="${slack.channelId}" iconUrl="#[null]" message="Hey!" username="#[null]"/>
    </flow>

    <flow name="send-file">
        <slack:send-file config-ref="token-config" file="#[payload]" channelId="${slack.channelId}"/>
    </flow>

</mule>
